@inject HttpClient Http
@page "/categories"

@if (categoryList is null)
{
    <p>読み込み中</p>
}
else
{
    <table>
    <tr>
        <th>カテゴリ名</th>
        <th>アイテム数</th>
        <th>30日あたり費用</th>
    </tr>
    @foreach (var category in categoryList)
        {
            <tr>
                <td><a href="categories/@category.CategoryId">@category.Name</a></td>
                <td>@category.Items?.Count()</td>
                <td>
                    @(category.Items?
                        .Sum(i => i.Ticks is not null && (int)i.SwapFrequency?.TotalDays! > 0 ? i.Price * 30 /
                        (int)i.SwapFrequency?.TotalDays! : 0)
                        .ToString("N1"))
                </td>
            </tr>
        }
    </table>
}
@code {
    private List<Category>? categoryList;

    protected override async Task OnInitializedAsync() =>
    categoryList = await Http.GetFromJsonAsync<List<Category>>("category");
}