@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using Portfolio_View.Models
@page "/categories"

@if (categoryList is null)
{
    <p>読み込み中</p>
}
else
{
    <table>
        <tr>
            <th>カテゴリ名</th>
            <th>アイテム数</th>
            <th>30日あたり出費概算</th>
        </tr>
    @foreach (var category in categoryList)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Items?.Count()</td>
                <td>
                    @(category.Items?
                        .Sum(i => i.Price * 30 / i.SwapFrequency)?
                        .ToString("N1"))
                </td>
            </tr>
        }
    </table>
}
@code {
    private List<Category>? categoryList;

    protected override async Task OnInitializedAsync() =>
    categoryList = await Http.GetFromJsonAsync<List<Category>>("category");
}