@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using Portfolio_View.Models
@page "/events"

@if (evList is null)
{
    <p>読み込み中</p>
}
else
{
    <table>
        <tr>
            <th>交換日</th>
            <th>アイテム名</th>
        </tr>
    @foreach (var ev in evList.OrderByDescending(e => e.Date))
        {
            <tr>
                <td>@(ev.Date.ToString("yyyy年MM月dd日"))</td>
                <td>@ev.Item.Name</td>
            </tr>
        }
    </table>
}
@code {
    private List<Event>? evList;

    protected override async Task OnInitializedAsync() =>
    evList = await Http.GetFromJsonAsync<List<Event>>("event");
}