@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using Portfolio_View.Models
@page "/swaps"
@page "/items/{id:int}/swaps"



@if (swList is null)
{
    <p>読み込み中</p>
}
else
{
    <table>
    <tr>
        <th>交換日</th>
        <th>アイテム名</th>
    </tr>
    @foreach (var sw in swList.OrderByDescending(e => e.Date))
        {
            <tr>
                <td>
                    <a href="swaps/@sw.SwapId">
                        @(sw.Date.ToString("yyyy年MM月dd日"))
                    </a>
                </td>
                <td>
                    <a href="items/@sw.Item?.ItemId">
                    @sw.Item!.Name
                    </a>
                </td>
            </tr>
        }
    </table>
}
@code {
    private List<Swap>? swList;

    [Parameter] public int? id { get; set; }

    protected override async Task OnParametersSetAsync() =>
    swList = await Http.GetFromJsonAsync<List<Swap>>(id is null ? "swap" : "item/" + id.Value.ToString() + "/swap");

}