@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Portfolio_View.Models
@page "/events/{id:int}"
@if (_event is null)
{
    <p>読み込み中</p>
}
else
{
    <p>交換実施日：@_event.Date.ToShortDateString()</p>
    <p>アイテム名：<a href="items/@_event.Item?.ItemId">@(_event.Item?.Name ?? "なし")</a></p>
    <p>メモ:@_event.Memo</p>
    <p><button class="btn deleteBtn" @onclick="eventDelete">イベント削除</button></p>
}

@code
{
    [Parameter]
    public int id { get; set; }

    private Event? _event;

    protected override async Task OnInitializedAsync() =>
    _event = await Http.GetFromJsonAsync<Event>($"event/{id}");

    private async Task eventDelete()
    {
        await Http.DeleteFromJsonAsync<Event>($"event/{id}");
        NavigationManager.NavigateTo($"items/{_event?.Item?.ItemId}");
    }
}