@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using Portfolio_View.Models
@page "/items"

@if (itemList is null)
{
    <p>読み込み中</p>
}
else
{
    <table>
    @foreach (var item in itemList)
        {
            <tr>
                <th>@item.Name</th>
                <th>@(item.Price)円</th>
                <th>@(item.SwapFrequency is not null ? item.SwapFrequency.ToString() + "日" : "なし")</th>
                @foreach(var category in item.Categories??new List<Category>())
                {
                    <th>@category.Name</th>
                }
            </tr>
        }
    </table>
}
@code {
    private List<Item>? itemList;

    protected override async Task OnInitializedAsync() =>
    itemList = await Http.GetFromJsonAsync<List<Item>>("item");
}
