@using System.Net.Http
@inject HttpClient Http
@using Portfolio_View.Models

@if (categoryList is null)
{
    <p>読み込み中</p>
}
else
{
    @foreach (var cat in categoryList)
    {
        <p class=@(Categories!.Contains(cat) ? "Red":"") @onclick="()=>turningHasCategory(cat)">@(cat.Name+(Categories!.Contains(cat) ? "*":""))</p>
    }
    <p>
        <button class = "btn Editbtn" @onclick = "@(async () => await Callback.InvokeAsync(Categories))">確定</button>
    </p>
}

@code
{
    [Parameter]
    public ISet<Category>? Categories { get; set; }
    [Parameter]
    public EventCallback<ISet<Category>> Callback { get; set; }

    private List<Category>? categoryList;

    protected override async Task OnParametersSetAsync()
    {
        categoryList = await Http.GetFromJsonAsync<List<Category>>("category");
    }

    private void turningHasCategory(Category cat)
    {
        if (Categories!.Contains(cat))
        {
            Categories.Remove(cat);
        }
        else
        {
            Categories.Add(cat);
        }
        this.StateHasChanged();
    }
}